@charset "UTF-8";
.header,.logo,ul.menu{float:left}
.home,.logo{color:#3c3d42}
.item,.nav-tabs,.right-menu,.tab-content,.text-fix{display:inline-block}
.link-footer-m:hover,.nav-tabs li a,.social-icon:hover,a:focus{text-decoration:none}
.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}
body,html{background:#fff}
button{outline:0}
@font-face{font-family:Raleway;src:url(/fonts/Raleway/Raleway-Regular.ttf)}
@font-face{font-family:ProximaNova-Bold;src:url('/fonts/Proxima Nova/ProximaNova-Bold.otf')}
@font-face{font-family:FontAwesome;src:url(/fonts/Awesome/FontAwesome.otf)}
@font-face{font-family:DroidSerif;src:url(/fonts/Droid_Serif/DroidSerif.ttf)}
@font-face{font-family:Socialico;src:url(/fonts/Socialico/Socialico.otf)}
@font-face{font-family:"slick.woff";src:url(/css/fonts/slick.woff)}
@font-face{font-family:"slick.ttf";src:url(/css/fonts/slick.ttf)}
@font-face{font-family:"slick.eot";src:url(/css/fonts/slick.eot)}
@font-face{font-family:"slick.svg";src:url(/css/fonts/slick.svg)}
.nav-psd{height:80px}
.navbar-fixed-top{border-bottom-width:1px;-webkit-transform:translate3d(0,0,0)}
.header{width:100%;height:50px;padding-top:30px;font-weight:400;position:relative}
.logo{width:143px;height:26px;margin-left:40px;margin-right:33px;line-height:20px;font-family:ProximaNova-Bold;font-size:30px}
ul.menu{width:auto;height:14px;padding:0;font-family:Raleway;font-size:14px;font-weight:400;line-height:23px;list-style:none}
.mail,.mail-img,.number,.phone-img{font-size:18px;font-weight:400}
.donec,.features-head,.mail-img{line-height:24px}
.features{color:#747a7a;margin-left:29px}
.screenshot{color:#747a7a;margin-left:30px}
.gallery{color:#747a7a;margin-left:24px}
.right-menu{position:relative;float:right;margin-right:30px}
.icons,.mail,.mail-img,.nav-tabs,.number,.phone-img,.text-fix{float:left}
.phone-img{margin-top:4px;margin-right:10px;width:15px;height:14px;color:#3d3e43;font-family:FontAwesome}
.number{margin-right:39px;width:auto;height:16px;color:#3c3d42;font-family:Raleway}
.mail-img{margin-right:12px;margin-top:5px;width:18px;height:13px;color:#3d3e43;font-family:FontAwesome}
.mail{width:186px;height:18px;color:#3c3d42;font-family:Raleway}
.duis,.perfect-app{color:#fff;font-family:Raleway;position:relative}
.img-check{position:relative;top:-46px;margin-top:20px}
.mainground{height:730px;background:url(/img/hand-mobile.png) center center no-repeat;background-size:cover}
.perfect-app{margin-top:150px;font-size:36px;font-weight:700}
.duis{width:100%;font-size:34px;font-weight:300}
.donec{position:relative;width:300px;color:#9dc7d1;font-family:Raleway;font-size:14px;font-weight:400}
.button-dload,.feature-title{font-family:Raleway;font-weight:700}
.button-slider{position:relative;width:240px;height:60px;border:3px solid rgba(255,255,255,.5);border-radius:25px;background-color:transparent}
.button-slider:hover{background-color:#5dca88}
.button-dload{color:#fff;font-size:21px}
@media (max-width:767px){.donec,.duis,.mainground-block,.perfect-app{text-align:center}
.perfect-app{margin-top:25vh;font-size:16px}
.duis{font-size:15px}
.donec{font-size:13px;width:100%;max-width:300px;margin:0 auto}
.button-slider{width:70%;max-width:240px;margin:15px auto 0}
.button-dload{font-size:16px}
}
.features-block{padding-bottom:15px}
.feature-title{text-align:center;margin-top:30px;color:#636c6c;font-size:36px}
.features-head,.tab-pane .info-content{font-family:Raleway;font-weight:400}
.features-head{width:70%;margin:20px auto 0;text-align:center;color:#afb8b8;font-size:16px}
.tab-bar{width:100%;margin-top:20px}
.nav-tabs{width:320px;position:relative;border-right:1px solid #dbe2e2;border-bottom:none}
.nav-tabs li{width:100%;padding-top:25px}
li:hover .info-tabs{color:#636c6c}
.nav-tabs li a{width:324.5px;height:80px;border:none;border-right:11px solid transparent;border-radius:0;color:grey;cursor:default}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{border:none;border-right:11px solid #5dca88;color:#5dca88;cursor:auto}
.text-fix{width:calc(100% - 50px);margin:0}
.text-fix .info-tabs{width:100%;margin:0;line-height:60px;text-align:center}
.icons{margin-top:5px;font-size:48px}
.big-icons{font-size:220px;color:#5dca88}
.tab-content{width:calc(100% - 320px);margin-top:25px;float:left;position:relative;text-align:center}
.tab-pane .info-content{margin-left:10px;color:#afb8b8;font-size:16px;line-height:24px;text-align:left}
.product-res1,.title-content{font-family:Raleway;font-weight:700}
.title-content{color:#636c6c;font-size:24px;margin-bottom:30px}
@media (max-width:767px){.feature-title{font-size:16px}
.features-head{font-size:14px}
.tab-bar{margin:0 auto}
.nav-tabs{padding-left:0;width:100%;border:none}
.nav>li>a{padding:10px 0}
.nav-tabs li{width:20%;text-align:center}
.nav-tabs li a{width:100%;border-right:none}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{border-right:none;border-bottom:11px solid #5dca88}
.nav-tabs li a .icons{margin:0 auto;float:none;font-size:38px}
.tab-content{width:100%;margin-top:0}
.title-content{font-size:16px;margin-bottom:10px}
.tab-pane .info-content{font-size:14px;padding:0;width:90%;margin:0 auto}
}
.product-feature{background-color:#f2f9fe}
.product-resume{width:50%;float:left;margin:30px 0 0 60px}
.product-res1{width:72%;color:#5dca88;font-size:36px}
.product-res2,.product-res3{color:#8c9494;font-family:Raleway;font-weight:400}
@media (min-width:992px) and (max-width:1199px){.product-res1{font-size:2.1em}
}
@media (min-width:768px) and (max-width:991px){.product-res1{font-size:1.4em}
}
.hr-line{width:104px;height:2px;background-color:#949c9c}
.product-res2{width:76%;margin:30px 0;font-size:36px}
@media (min-width:992px) and (max-width:1199px){.product-res2{font-size:1.6em}
}
@media (min-width:768px) and (max-width:991px){.product-res2{font-size:1.2em}
}
.product-res3{width:83%;font-size:16px;line-height:24px}
.button-feature .button-learn-more,.gallery-title{color:#636c6c;font-family:Raleway;font-weight:700}
.button-feature{margin-top:10px;width:240px;height:60px;border:3px solid rgba(99,108,108,.5);border-radius:25px;background-color:transparent}
.button-feature:hover{background-color:#5dca88}
@media (min-width:768px) and (max-width:991px){.product-res3{font-size:.7em}
.button-feature{margin-top:0}
}
.button-feature .button-learn-more{font-size:21px}
.img-feature-mobile{width:28%;float:left}
@media (max-width:767px){.product-res1,.product-resume{margin:0 auto;text-align:center}
.product-resume{width:100%}
.product-res1{width:84%;font-size:16px;padding-top:25px}
.hr-line{margin:5px auto 0}
.product-res2{width:70%;text-align:center;margin:10px auto;font-size:14px}
.product-res3{width:80%;margin:0 auto;text-align:left;font-size:12px;line-height:20px}
.button-feature{width:70%;max-width:200px;margin:15px auto 10px}
.button-feature .button-learn-more{font-size:16px}
.img-feature-mobile{margin:0 auto;position:relative;left:-5px;float:none}
}
@media (max-height:415px){.img-feature-mobile{float:right;position:relative;top:-33px;width:24%}
.product-res1{width:70%;margin-left:0}
.hr-line{margin-left:28%;margin-top:10px}
.product-res2{width:70%;margin-left:0}
.product-res3{width:72%;margin-left:0}
.button-feature{margin-left:-5%;width:30%}
.button-feature .button-learn-more{font-size:15px}
}
.gallery-block{margin-top:15px}
.gallery-title{text-align:center;font-size:36px}
.gallery-info,.slider-gallery .mobile-info{text-align:center;font-weight:400;line-height:24px;font-family:Raleway}
.gallery-info{margin:20px auto 0;width:60%;color:#afb8b8;font-size:16px}
.slider-gallery{margin:20px 50px}
.slider-gallery .arrow{width:53px;height:90px}
.slider-gallery .slick-prev{left:-60px;top:40%}
.slider-gallery .slick-next{right:-60px;top:40%}
.slider-gallery .mobile-gallery{margin-left:30px;width:296px;display:inline-block}
.slider-gallery .mobile-info{margin:30px auto 0;width:60%;color:#8c9494;font-size:14px}
.slider-gallery .img-fix-center{margin:0 auto;width:72%}
@media (max-width:767px){.gallery-block{margin-top:0}
.gallery-title{font-size:16px}
.gallery-info{margin:10px auto 0;width:90%;font-size:14px;text-align:left;line-height:20px}
.slider-gallery .img-fix-center{width:25%}
.slider-gallery .mobile-info{margin:15px auto 0;width:80%;font-size:12px;line-height:20px}
}
@media (max-height:415px){.slider-gallery .img-fix-center{width:20%}
.slider-gallery .mobile-info{width:70%}
}
.product-geature{background-color:#f2f9fe}
.img-geature{float:left;width:38%}
.product-resume-geature{width:50%;float:right}
.product-ges1{width:80%;padding-top:20px;color:#5dca88;font-family:Raleway;font-size:36px;font-weight:700}
.product-ges2,.product-ges3{color:#8c9494;font-family:Raleway;font-weight:400}
@media (min-width:992px) and (max-width:1199px){.product-ges1{font-size:2.1em}
}
@media (min-width:768px) and (max-width:991px){.product-ges1{font-size:1.4em}
}
.hr-line1{width:104px;height:2px;background-color:#949c9c}
.product-ges2{margin:30px 0;font-size:36px}
@media (min-width:992px) and (max-width:1199px){.product-ges2{font-size:1.6em}
}
@media (min-width:768px) and (max-width:991px){.product-ges2{font-size:1.2em}
}
.product-ges3{width:80%;font-size:16px;line-height:24px}
.button-geature .button-learn-more,.carousel-title{color:#636c6c;font-family:Raleway;font-weight:700}
.button-geature{margin-top:40px;width:200px;height:60px;border:3px solid rgba(99,108,108,.5);border-radius:25px;background-color:transparent}
.button-geature:hover{background-color:#5dca88}
@media (min-width:768px) and (max-width:991px){.product-ges3{font-size:.7em}
.button-geature{margin-top:0}
}
.button-geature .button-learn-more{font-size:21px}
@media (max-width:767px){.hr-line1,.img-geature{margin:0 auto}
.product-resume-geature{width:100%;text-align:center;float:none}
.img-geature{width:70%;float:none}
.product-ges1{width:auto;font-size:16px}
.product-ges2{margin:20px 0 0;font-size:14px}
.product-ges3{width:93%;margin:10px auto;text-align:left;font-size:12px;line-height:22px}
.button-geature{margin:0 auto 15px}
.button-geature .button-learn-more{font-size:16px}
}
@media (max-height:415px){.hr-line1{margin:0 auto}
.button-geature{margin:0 auto 20px}
}
.testimonials-blocks{background:#fff}
.carousel-inner>.item{z-index:1}
.carousel-caption{position:static}
.carousel-title{font-size:36px}
.carousel-info{margin:20px auto 10px;color:#8c9494;font-family:DroidSerif;font-size:18px;font-style:italic;line-height:24px}
.carousel-autor{color:#5dca88;font-family:Raleway;font-size:16px;font-weight:400}
.carousel-indicators{bottom:-5px}
.carousel-indicators li{width:15px;height:15px;background-color:#8c9494}
.carousel-indicators>li.active{width:15px;height:15px;background-color:#5dca88}
@media (max-width:767px){.carousel-caption{padding-top:10px}
.carousel-title{font-size:16px}
.carousel-autor,.carousel-info{font-size:14px}
}
.newsletter{text-align:center;background-color:#f3f5f5}
.mail-icon{margin:30px 20px 0 0;color:#8c9494;font-family:FontAwesome;font-size:36px;font-weight:400;line-height:24px}
.footer-title,.subscribe-letter,input[placeholder="your mail text"]{color:#8c9494;font-family:Raleway;line-height:24px}
.subscribe-letter{display:inline;font-size:36px;font-weight:700}
.form-mail{margin:35px 0}
.your-mail{width:66%;height:60px;background-color:#fff;border:2px solid #bbc3c2;border-radius:50px}
input[placeholder="your mail text"]{padding-left:20px;font-size:18px;font-weight:400;outline:0}
.my-btn{width:200px;height:60px;position:absolute;right:18%;border-radius:50px;outline:0;border:none;background-color:#5dca88}
@media (max-width:767px){.subscribe-letter{font-size:16px}
.mail-icon{font-size:26px}
.your-mail{display:block;margin:0 auto;width:80%;max-width:400px}
.my-btn{position:static;margin-top:20px}
}
.bg-footer{background-color:#2d312f;height:200px}
.footer-title{padding-top:20px;font-size:24px;font-weight:400}
.block-icon{padding-top:15px}
.social-icon{color:#5d6461;font-family:Socialico;font-size:60px;font-weight:400;line-height:60px}
.social-icon:hover{color:#5dca88}
a:focus{outline:0}
.footer-menu{font-family:Raleway;font-size:14px;list-style:none}
.slick-dots li button:before,.slick-next:before,.slick-prev:before{font-family:slick;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.footer-m{display:inline-block;padding-right:15px}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}
.link-footer-m{color:#8c9494}
.link-footer-m:hover{color:#5dca88}
@media (max-width:767px){.footer-title{font-size:16px}
}
.slick-slider{box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{left:0;top:0}
.slick-track:after,.slick-track:before{content:"";display:table}
.slick-track:after{clear:both}
.slick-slide{float:left;height:100%;min-height:1px;display:none}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}
.slick-loading .slick-list{background:url(ajax-loader.gif) center center no-repeat #fff}
@font-face{font-family:slick;src:url(/css/fontscss/fonts/slick.eot);src:url(/css/fontscss/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/css/fontscss/fonts/slick.woff) format("woff"),url(/css/fontscss/fonts/slick.ttf) format("truetype"),url(/css/fontscss/fonts/slick.svg#slick) format("svg");font-weight:400;font-style:normal}
.slick-next,.slick-prev{height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:0 0;color:transparent;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);border:none;outline:0}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{outline:0;background:0 0;color:transparent}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}
.slick-next:before,.slick-prev:before{font-size:20px;line-height:1;color:#fff;opacity:.75}
.slick-prev{left:-25px}
[dir=rtl] .slick-prev{left:auto;right:-25px}
.slick-prev:before{content:"←"}
.slick-next:before,[dir=rtl] .slick-prev:before{content:"→"}
.slick-next{right:-25px}
[dir=rtl] .slick-next{left:-25px;right:auto}
[dir=rtl] .slick-next:before{content:"←"}
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{bottom:-25px;list-style:none;text-align:center;margin:0;width:100%}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{border:0;background:0 0;display:block;height:20px;width:20px;outline:0;line-height:0;font-size:0;color:transparent;padding:5px;cursor:pointer}
.slick-dots li button:focus,.slick-dots li button:hover{outline:0}
.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}
.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-size:6px;line-height:20px;text-align:center;color:#000;opacity:.25}
.logo-m,.nav>.list-m-items{font-family:ProximaNova-Bold}
.slick-dots li.slick-active button:before{color:#000;opacity:.75}
.m-navbar{background-color:#f2f9fe;position:fixed;top:0;right:0;left:0;z-index:1030}
.navbar-header .m-toggle,.navbar-header .m-toggle:hover{background-color:#40e0d0}
.navbar-header .collapsed,.navbar-header .collapsed:active,.navbar-header .collapsed:focus{background-color:#e0ffff}
.logo-m{font-size:20px}
.search-form{border:none;padding:0}
.input-group{width:50%;min-width:150px;max-width:200px;outline:0;margin:0 auto}
.input-group:active{outline:0}
.input-search{background:#e0ffff}
.float-sm-fix{float:none}
.m-search-button{background-color:#87ceeb;display:block;outline:0}
.m-search-button:focus,.m-search-button:hover{background-color:#40e0d0;outline:0}
.nav>.list-m-items{text-align:center;width:50%;max-width:172px;margin:0 auto;border-radius:10px}
.nav>.list-m-items:hover{background-color:#40e0d0}
@media (min-width:375px){.nav>.list-m-items{width:24%;display:inline-block}
.nav>.list-m-items:nth-child(3) a{padding:10px 0}
}
@media (min-width:768px) and (max-width:991px){.search-form{position:absolute;right:1%}
.nav>.list-m-items{width:18%}
.nav>.list-m-items:nth-child(3) a{padding:15px}
}