.features-block {
  padding-bottom: 15px;
}
.feature-title {
  text-align: center;
  margin-top: 30px;
  color: #636c6c;
  font-family: $global-raleway-regular;
  font-size: 36px;
  font-weight: 700;
}
.features-head {
  width: 70%;
  margin: 20px auto 0;
  text-align: center;
  color: #afb8b8;
  font-family: $global-raleway-regular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
/*  CSS Tab bar*/

.tab-bar {
  width: 100%;
  margin-top: 20px;
}
.nav-tabs {
  width: 320px;
  float: left;
  display: inline-block;
  position: relative;
  border-right: 1px solid #dbe2e2;
  border-bottom: none;
}
.nav-tabs li {
  width: 100%;
  padding-top: 25px;
}
 li:hover {
  .info-tabs {
    color: #636c6c;
  }
}
.nav-tabs li a {
  width: 324.5px;
  height: 80px;
  border: none;
  border-right: 11px solid transparent;
  border-radius: 0;
  color: grey;
  text-decoration: none;
  cursor: default;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: none;
  border-right: 11px solid #5dca88;
  color: #5dca88;
  cursor: auto;
}
.text-fix  {
  width: calc( 100% - 50px);
  margin: 0;
  float: left;
  display: inline-block;

  .info-tabs {
    width: 100%;
    margin: 0;
    line-height: 60px;
    text-align: center;
  }
}
.icons {
  margin-top: 5px;
  font-size: 48px;
  float: left;
}
.big-icons {
  font-size: 220px;
  color: #5dca88;
}
.tab-content {
  width: calc( 100% - 320px );
  margin-top: 25px;
  float: left;
  position: relative;
  display: inline-block;
  text-align: center;
}
.tab-pane .info-content {
  margin-left: 10px;
  color: #afb8b8;
  font-family: $global-raleway-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.title-content {
  color: #636c6c;
  font-family: $global-raleway-regular;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
 /* CSS Mobile */
@media #{$bootstrap-xs} {
  .feature-title {
    font-size: 16px;
  }
  .features-head {
    font-size: 14px;
  }
  .tab-bar {
    margin: 0 auto;
  }
  .nav-tabs {
    padding-left: 0;
    width: 100%;
    border: none;
  }
  .nav > li > a {
    padding: 10px 0;
  }
  .nav-tabs li {
    width: 20%;
    text-align: center;
  }
  .nav-tabs li a {
    width: 100%;
    border-right: none;
  }

  .nav-tabs > li.active > a {
    border-right: none;
    border-bottom: 11px solid #5dca88;
    &:hover {
      border-right: none;
      border-bottom: 11px solid #5dca88;
    }
  }
  .nav-tabs li a .icons {
    margin: 0 auto;
    float: none;
    font-size: 38px;
  }
  .tab-content {
    width: 100%;
    margin-top: 0;
  }
  .title-content {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .tab-pane .info-content {
    font-size: 14px;
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
}
