.bg-footer {
  background-color: #2d312f;
  height: 200px;
}
.footer-title {
  padding-top: 20px;
  color: #8c9494;
  font-family: $global-raleway-regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.block-icon {
  padding-top: 15px;
}
.social-icon {
  color: #5d6461;
  font-family: $global-socialico;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  &:hover {
    color: #5dca88;
    text-decoration: none;
  }
}
a:focus {
  text-decoration: none;
  outline: none;
}
.footer-menu {
  font-family: $global-raleway-regular;
  font-size: 14px;
  list-style: none;
}

.footer-m {
  display: inline-block;
  padding-right: 15px;

}
.link-footer-m {
  color: #8c9494;
  &:hover {
    color: #5dca88;
    text-decoration: none;
  }
}
@media #{$bootstrap-xs} {
  .footer-title {
    font-size: 16px;
  }
}
