.gallery-block {
  margin-top: 30px;
}
.gallery-title {
  text-align: center;
  color: #636c6c;
  font-family: $global-raleway-regular;
  font-size: 36px;
  font-weight: 700;
}
.gallery-info {
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  width: 760px;
  color: #afb8b8;
  font-family: $global-raleway-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.slider-gallery {
  margin: 84px auto;
  height: 731px;

  .arrow {
    width: 53px;
    height: 90px;
    .arrow-fix {
      width: 53px;
      height: 90px;
    }
  }
  .mobile-gallery {
    margin-left: 30px;
    width: 296px;
    display: inline-block;
  }
  .caption-img {
    width: 247px;
    height: 62px;
    margin: 37px auto;
    color: #8c9494;
    font-family: $global-raleway-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .slick-prev {
    left: -50px;
    top: 300px;
  }
  .slick-next {
    right: -50px;
    top: 300px;
  }
  .mobile-info {
    margin: 47px auto;
    width: 255px;
    height: 62px;
    color: #8c9494;
    font-family: $global-raleway-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .img-fix-center {
    margin: 0 auto;
  }
  .slick-current {
    width: 10%;
  }
}