.product-feature {
  background-color: #f2f9fe;
}
.product-resume {
  width: 50%;
  float: left;
  margin: 30px 0 0 60px;
}
.product-res1 {
  width: 72%;
  color: #5dca88;
  font-family: $global-raleway-regular;
  font-size: 36px;
  font-weight: 700;
  @media #{$bootstrap-md} {
    font-size: 2.1em;
  }
  @media #{$bootstrap-sm} {
    font-size: 1.4em;
  }
}
.hr-line {
  width: 104px;
  height: 2px;
  background-color: #949c9c;
}
.product-res2 {
  width: 76%;
  margin: 30px 0 30px;
  color: #8c9494;
  font-family: $global-raleway-regular;
  font-size: 36px;
  font-weight: 400;
  @media #{$bootstrap-md} {
    font-size: 1.6em;
  }
  @media #{$bootstrap-sm} {
    font-size: 1.2em;
  }
}
.product-res3 {
  width: 83%;
  color: #8c9494;
  font-family: $global-raleway-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  @media #{$bootstrap-sm} {
    font-size: 0.7em;
  }
}
.button-feature {
  /* Style for "button" */
  margin-top: 10px;
  width: 240px;
  height: 60px;
  border: 3px solid rgba(99, 108, 108, 0.5);
  border-radius: 25px;
  background-color: transparent;
  &:hover {
    background-color: #5dca88;
  }
  @media #{$bootstrap-sm} {
    margin-top: 0;
  }
  .button-learn-more {
    color: #636c6c;
    font-family: $global-raleway-regular;
    font-size: 21px;
    font-weight: 700;

  }
}
.img-feature-mobile {
  width: 28%;
  float: left;
}
@media #{$bootstrap-xs} {
  .product-resume {
  width: 100%;
  margin: 0 auto;
    text-align: center;
  }
  .product-res1 {
    width: 84%;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 25px;
  }
  .hr-line {
    margin: 5px auto 0;
  }
  .product-res2 {
    width: 70%;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
  }
  .product-res3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  .button-feature {
    width: 70%;
    max-width: 200px;
    margin: 15px auto 10px;
  }
  .button-feature .button-learn-more {
    font-size: 16px;
  }
  .img-feature-mobile {
    margin: 0 auto;
    position: relative;
    left: -5px;
    float: none;
  }
}
@media #{$bootstrap-iphone5-xs} {
  .img-feature-mobile {
    float: right;
    position: relative;
    top: -33px;
    width: 24%;
  }
  .product-resume {
  }
  .product-res1 {
    width: 70%;
    margin-left: 0;
  }
  .hr-line {
    margin-left: 28%;
    margin-top: 10px;
  }
  .product-res2 {
    width: 70%;
    margin-left: 0;
  }
  .product-res3 {
    width: 72%;
    margin-left: 0;
  }
  .button-feature {
    margin-left: -5%;
    width: 30%;
  }
  .button-feature .button-learn-more {
    font-size: 15px;
  }
}