.mainground {
  height: 730px;
  background: url("/img/hand-mobile.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.perfect-app {
  margin-top: 150px;
  position: relative;
  color: white;
  font-family: $global-raleway-regular;
  font-size: 36px;
  font-weight: 700;
}
.duis {
  position: relative;
  width: 100%;
  color: white;
  font-family: $global-raleway-regular;
  font-size: 34px;
  font-weight: 300;
}
.donec {
  position: relative;
  width: 300px;
  color: #9dc7d1;
  font-family: $global-raleway-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.button-slider {
  /* Style for "button" */
  position: relative;
  width: 240px;
  height: 60px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-color: transparent;
  &:hover {
    background-color: #5dca88;
  }
}
.button-dload {
  color: white;
  font-family: $global-raleway-regular;
  font-size: 21px;
  font-weight: 700;
}
 /*  Mobile CSS  */
@media #{$bootstrap-xs} {
  .perfect-app {
  margin-top: 25vh;
    font-size: 16px;
    text-align: center;
  }
  .mainground-block {
    text-align: center;
  }
  .duis {
    font-size: 15px;
    text-align: center;
  }
  .donec {
    font-size: 13px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  .button-slider {
    width: 70%;
    max-width: 240px;
    margin: 15px auto 0;
  }
  .button-dload {
    font-size: 16px;
  }
}