.testimonials-blocks {
  background: #ffffff;
}
/*  Fix carusel */
.carousel-inner>.item {
  z-index: 1;
}
.carousel-caption {
  position: static;
}
.carousel-title {
  color: #636c6c;
  font-family: $global-raleway-regular;
  font-size: 36px;
  font-weight: 700;
}
.carousel-info {
  margin: 20px auto 10px;
  color: #8c9494;
  font-family: $global-droid-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
}
.carousel-autor {
  color: #5dca88;
  font-family: $global-raleway-regular;
  font-size: 16px;
  font-weight: 400;
}
.carousel-indicators {
  bottom: -5px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  background-color: #8c9494;
}
.carousel-indicators > li.active {
  width: 15px;
  height: 15px;
  background-color: #5dca88;
  }
@media #{$bootstrap-xs} {
  .carousel-caption {
    padding-top: 10px;
  }
  .carousel-title {
    font-size: 16px;
  }
  .carousel-info {
  font-size: 14px;
  }
  .carousel-autor {
    font-size: 14px;
  }
}

